@font-face {
    font-family: 'Urbanist';
    src: url(../fonts/urbanist.woff2);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#cover-img {
    border-radius: 20px;
}

#cover-text {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 10px black;
    width: 100%;
    text-align: center;
}

.row-1 {
    height: 12.5vh;
}

.row-3 {
    height: 37.5vh;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.w-100vw {
    width: 100vw;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.no-wrap-column {
    flex-flow: column nowrap;
}

.align-items-center {
    align-items: center;
}

.mr-05 {
    margin-right: 0.5rem;
}

.mr-10 {
    margin-right: 1rem;
}

.ml-05{
    margin-left: 0.5rem;
}

.ml-10 {
    margin-left: 1rem;
}

.p-20 {
    padding: 2rem;
}

.p-15 {
    padding: 1.5rem;
}

.social-button {
    height: 1.5rem;
}

.center-in-relative-parent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.disabled-text-color {
    color: #aaa;
}

@media only screen and (max-height: 600px) {
    #cover-img {
        display: none;
    }
}

@media only screen and (max-height: 600px) {
    #cover-text {
        display: unset !important;
    }
}

.z-1 {
    z-index: -1;
}

.z-2 {
    z-index: 2;
}

.non-styled-link {
    text-decoration: none;
    color:white;
}

@media screen and (max-device-width: 375px) {
    #hide-on-mini {
        display: none;
    }
}

#layout-container {
    height: 87.5vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#background-image-container {
    /*
    background image and position need to be set dynamically
    background-position: 60% 50%;
    "background-image: url(/img/cover.png);
    */
    background-size: 250vh;
    background-color: #00000055;
}

#background-color-overlay {
    background: #000000d9;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.flex-justify-content-center {
    justify-content: center;
}
